/* global style */


body {
    user-select: none;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}


.pd-section {
    padding: 150px 0;
}

.btn {
    text-transform: uppercase;
    background-color: #0d2041;
    margin-top: 30px;
    padding: 15px;
    display: block;
    text-align: center;
    color: #fdfffe;
    border: 2px solid #fdfffe;
    font-weight: 400;
    cursor: pointer;
}

.btn-about {
    width: 100px;
    cursor: pointer;

}

.title-section {
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px;
}

.scroll {
    width: 35px;
    height: 35px;
    background-color: #0d2041;
    color: #e23f28;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -35px;
    bottom: 35px;
    transition: 0.3s;
    font-size: 20px;
    padding: 5px;
}

.alert {
    color: #e23f28;
    background-color: #0d2041;
    padding: 10px;
    margin-bottom: 20px;
}

.sign-out {
    background: none;
    color: #fdfffe;
    border: 0;
    cursor: pointer;
}

#btn-accounts-side {
    cursor: pointer;
}


/* start nav */
nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #0d2041;
    box-shadow: 0 0px 60px 3px #0d2041;
}

.logo {
    display: block;
    width: 17em;
    height: 5em;
}

.logo img {
    height: 100%;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.links > li {
    margin: 12px;

}

.links > li > a {
    color: #fdfffe;
    text-transform: capitalize;
    cursor: pointer;
}

.cart {
    font-size: 20px;
}

.accounts {
    position: relative;
    color: #fdfffe;
}

.accounts-menu {
    display: none;
    padding: 20px;
    background-color: #0d2041;
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 150px;
    border-top: 2px solid #fdfffe;
}

.accounts-menu li:first-child {
    margin-bottom: 20px;
}

.accounts-menu li a {
    color: #fdfffe;
    display: block;
}

/* side menu */
.menu-btn {
    color: #fdfffe;
    font-size: large;
    cursor: pointer;
}

.menu {
    width: 100%;
    background-color: #0d2041;
    position: absolute;
    right: 0;
    top: 80px;
    margin-top: -22em;
    transition: all 0.2s;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    display: block;
}

.link-side-menu {
    padding: 30px 25px;
}

.link-side-menu li {
    margin-bottom: 25px;
}

.link-side-menu li a {
    color: #fdfffe;
    text-transform: capitalize;
}

.accounts-side-menu {
    display: none;
    padding: 20px;
    background-color: #3a4455;
    margin: 15px 0;
}

.accounts-side-menu li:last-child {
    margin-bottom: 0;
}

/* start header */

header {
    background-image: url(../images/cover2.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: bottom;
}

.overlay {
    background-color: #0d204165;
    position: absolute;
    width: 100%;
    height: 100%;
}

main {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #fdfffe;
}

main h1 {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

main p {
    font-size: 18px;
    word-spacing: 2px;
    line-height: 1.6;
    width: 30em;
    font-weight: 300;
}

.btn-main {
    width: 10em;
    cursor: pointer;

}

/* start about section */

.header {
    margin-bottom: 60px;
}

.header h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
}

.header p {
    text-align: center;
    line-height: 1.6;
    font-size: 15px;
}

.flex-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .items:last-of-type {
    margin-top: 80px;
}

.about-img {
    height: 30em;
    width: 50%;
    border-radius: 20px;
}

.about-img img {
    border-radius: 20px;
}

.description {
    width: 50%;
    padding: 50px;
}

.description h2 {
    text-align: left;
}

.description p {
    text-align: left;
    line-height: 1.6;
    margin: 20px 0;
    color: #0d2041;
}

/* start product */

.grid-products {
    display: grid;
    grid-template-columns: repeat(4, 17em);
    grid-gap: 25px 15px;
}

.product {
    background: #0d2041;
    box-shadow: 0px 0px 21px -8px #0d2041;
}

.product-img {
    width: 100%;
    height: 17em;
    padding: 50px;
    background-image: url(../images/bg.jpg);
    background-position: bottom;
}

.info {
    padding: 30px 20px;
}

.info h3 {
    font-weight: 400;
    color: #fdfffe;
}

.info p {
    line-height: 1.6;
    margin: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fdfffe;
    font-weight: 300;
    font-size: 15px;
}

.details {
    padding: 20px;
}

/* start reviews */

.review {
    padding: 20px;
    box-shadow: 0px 0px 21px -8px #0d2041;
}

.flex-review {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.img-review {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #0d2041;
}

.img-review img {
    border-radius: 50%;
}

.col {
    width: 2px;
    height: 60px;
    background-color: #0d2041;
}

.circle {
    position: relative;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.review1-percent {
    position: absolute;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border-top: 4px solid #0d2041;
    border-bottom: 4px solid #dee1e6;
    border-right: 4px solid #0d2041;
    border-left: 4px solid #dee1e6;
    transform: rotate(45deg);
}

.review2-percent {
    position: absolute;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border-top: 4px solid #0d2041;
    border-bottom: 4px solid #0d204100;
    border-right: 4px solid #0d2041;
    border-left: 4px solid #0d204100;
    transform: rotate(45deg);
}

.percent1 {
    transform: rotate(45deg);
}

.percent2 {
    transform: rotate(90deg);
}

.percent3 {
    transform: rotate(135deg);
}

.num {
    position: absolute;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review p {
    line-height: 1.6;
    margin-top: 25px;
    font-size: 14px;
    color: #0d2041;
}

/* start footer */

footer {
    background-color: #e23f28;
    padding: 50px;
}

.link-footer {
    width: 45em;
    margin: auto;
}

.flex-link-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-footer li {
    text-transform: uppercase;
    font-weight: bold;
}

.link-footer a {
    color: #0d2041;
}

.line {
    width: 40em;
    height: 2px;
    background-color: #0d2041;
    margin: 47px auto;
}

footer p {
    width: 50em;
    text-align: center;
    margin: auto;
    line-height: 1.8;
    color: #fdfffe;
}

.social {
    width: 30em;
    margin: 50px auto;
}

.social i {
    font-size: 2em;
    color: #fff;
}

/* start details products */

.details-item {
    background-color: #0d2041;
    padding: 2em;
    width: 55em;
    margin: auto;
    box-shadow: 0px 0px 21px -8px #0d2041;
}

.details-img {
    width: 20em;
    height: 20em;
}

.details-info {
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.details-info h3 {
    color: #fdfffe;
    font-weight: 900;
    font-size: 22px;
    text-transform: capitalize;
}

.details-info p {
    color: #fdfffe;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 100;
}

.details-info h4 {
    color: #e23f28;
    font-size: 20px;
}

.details-info button {
    display: block;
    width: 200px;
    background-color: #0d2041;
    border: 2px solid #fdfffe;
    padding: 10px;
    color: #fdfffe;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    cursor: pointer;

}

.quantity-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfffe;
}

.plus {
    border: 2px solid #fdfffe;
    padding: 10px;
}

.show {
    width: 50px;
    border-top: 2px solid #fdfffe;
    border-bottom: 2px solid #fdfffe;
    padding: 10px;
}

.minus {
    border: 2px solid #fdfffe;
    padding: 10px;
}

/* start contact */

.contact h2 {
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #0d2041;
    text-align: center;
}

.contact p {
    color: #0d2041;
    text-align: center;
}

.contact-form {
    margin: 30px auto;
}

.flex-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    width: 32.3333%;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    outline-color: #0d2041;
    width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    outline-color: #0d2041;
}

/* start login */

.flex-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    margin-top: 60px;
}

.btn-custom {
    margin: 30px auto;
    min-width: 12rem;
    cursor: pointer;
}

/* start register */

.flex-register {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register-input {
    width: 49%;
}

/* start check-out */

.logo-check-out {
    background-color: #0d2041;
    margin-bottom: 100px;
}

.check-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 0 21px;
    margin-bottom: 20px;
    position: relative;
}

.check-header {
    color: #e23f28;
    font-weight: bold;
    text-transform: capitalize;
    text-align: end;
}

.check-header:first-child {
    text-align: start;
}

.check-body {
    border-bottom: 1px solid #0d2041;
}

.check-body:nth-last-child(3) {
    border-bottom: 0;
}

.check-items {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-items h4 {
    text-align: center;
}

.check-items:first-child {
    justify-content: flex-start;
}

.check-img {
    width: 60px;
    height: 60px;
}

.total {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
}

.total :last-child {
    margin-top: 20px;
    color: #e23f28;
}

.btn-check-out {
    max-width: 20rem;
    margin: 30px auto;
    cursor: pointer;

}

.remove {
    position: absolute;
    right: 0;
    bottom: 3px;
    text-decoration: underline;
    color: #e23f28;
    text-transform: capitalize;
    background-color: transparent;
    border: 0;
}

.remove i {
    font-size: 20px;
}
