{% extends "base.html" %}
{% load static %}
{% block title %}
login
{% endblock %}
{% block content %}
    <!-- start login -->
        <section class="login pd-section">
            <div class="container">
                <form method="post" class="login-form">
                    {% include "alert.html" %}
                    {% csrf_token %}
                    <div class="flex-login">
                        <div class="inner">
                            <label for="user">username</label>
                            <input type="text" id="user" name="username" required/>
                        </div>
                        <div class="inner">
                            <label for="pass">password</label>
                            <input type="password" name="pass" id="pass" required/>
                        </div>
                    </div>
                    <button class="btn btn-custom">login</button>
                </form>
            </div>
        </section>
{% endblock %}
