{% extends "base.html" %}
{% load static %}
{% block title %}
products
{% endblock %}
{% block content %}
        <!-- start products -->
        <section class="products pd-section" id="products">
            <h2 class="title-section">products</h2>
            <div class="container">
                <div class="grid-products">
                    {% for product in products %}
                        <div class="product">
                            <div class="product-img">
                                {% if product.image %}
                                <img src="https://res.cloudinary.com/dnru0whph/image/upload/v1/{{product.image}}" alt="" />
                                {% elif product.urlImage %}
                                <img src="{{product.urlImage}}" alt="" />
                                {%else%}
                                <img src=" https://placehold.co/400" alt="" />
                                {% endif %}
                            </div>
                            <div class="info">
                                <h3>{{ product.name }}</h3>
                                <p>
                                    {{ product.description }}
                                </p>
                                <a href="{% url 'addItem' product.id  %}" class="btn">Add</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}
