{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- start register -->
    <section class="register pd-section">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {% include "alert.html" %}
                <div class="flex-register">
                    <div class="inner register-input">
                        <label for="name">full name</label>
                        <input type="text" id="name" name="name" />
                    </div>

                    <div class="inner register-input">
                        <label for="username">username</label>
                        <input type="text" id="username" name="user" />
                    </div>
                </div>
                <div class="flex-register">
                    <div class="inner register-input">
                        <label for="number">number</label>
                        <input type="text" id="number" name="number" />
                    </div>
                    <div class="inner register-input">
                        <label for="email">email</label>
                        <input type="text" id="email" name="email" />
                    </div>
                </div>
                <div class="flex-register">
                    <div class="inner register-input">
                        <label for="password">password</label>
                        <input type="password" id="password" name="password" />
                    </div>
                    <div class="inner register-input">
                        <label for="password">repeat password</label>
                        <input type="password" id="password" name="re-password" />
                    </div>
                </div>
                <div class="flex-register">
                    <div class="inner register-input">
                        <label for="city">city</label>
                        <input type="text" id="city" name="city" />
                    </div>
                    <div class="inner register-input">
                        <label for="address">address</label>
                        <input type="text" id="address" name="address" />
                    </div>
                </div>
                <button class="btn btn-custom">register</button>
            </form>
        </div>
    </section>
{% endblock %}