{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- start reviews -->
    <section class="reviews pd-section" id="reviews">
        <div class="container">
            <h2 class="title-section">reviews</h2>
            <div class="grid-reviews">
                <div class="review">
                    <div class="flex-review">
                        <div class="img-review"><img src="{% static "images/review1.jpg" %}" alt="" /></div>
                        <div class="col"></div>
                        <div class="circle">
                            <div class="percent1 review1-percent"></div>
                            <div class=" review2-percent"></div>
                            <div class="num">50%</div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quam perspiciatis culpa
                        distinctio iste debitis deserunt sunt nemo eveniet neque. Aliquam illo magnam tenetur</p>
                </div>
                <div class="review">
                    <div class="flex-review">
                        <div class="img-review"><img src="{% static "images/review1.jpg" %}" alt="" /></div>
                        <div class="col"></div>
                        <div class="circle">
                            <div class="percent2 review1-percent"></div>
                            <div class="review2-percent"></div>
                            <div class="num">65%</div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quam perspiciatis culpa
                        distinctio iste debitis deserunt sunt nemo eveniet neque. Aliquam illo magnam tenetur</p>
                </div>
                <div class="review">
                    <div class="flex-review">
                        <div class="img-review"><img src="{% static "images/review1.jpg" %}" alt="" /></div>
                        <div class="col"></div>
                        <div class="circle">
                            <div class="percent3 review1-percent"></div>
                            <div class=" review2-percent"></div>
                            <div class="num">75%</div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quam perspiciatis culpa
                        distinctio iste debitis deserunt sunt nemo eveniet neque. Aliquam illo magnam tenetur</p>
                </div>
                <div class="review">
                    <div class="flex-review">
                        <div class="img-review"><img src="{% static "images/review1.jpg" %}" alt="" /></div>
                        <div class="col"></div>
                        <div class="circle">
                            <div class="percent3 review1-percent"></div>
                            <div class=" review2-percent"></div>
                            <div class="num">75%</div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quam perspiciatis culpa
                        distinctio iste debitis deserunt sunt nemo eveniet neque. Aliquam illo magnam tenetur</p>
                </div>
                <div class="review">
                    <div class="flex-review">
                        <div class="img-review"><img src="{% static "images/review1.jpg" %}" alt="" /></div>
                        <div class="col"></div>
                        <div class="circle">
                            <div class="percent3 review1-percent"></div>
                            <div class=" review2-percent"></div>
                            <div class="num">75%</div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quam perspiciatis culpa
                        distinctio iste debitis deserunt sunt nemo eveniet neque. Aliquam illo magnam tenetur</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}